.login-page-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.header {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  -webkit-app-region: drag;
}

.content {
  position: relative;
  flex: 1;
  background-image: url(../../../assets/login.png);
  background-size: 100% 100%;
}

.content > h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 176px;
  height: 32px;
  font-size: 24px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #ffffff;
  line-height: 32px;
}

.logo {
  position: absolute;
  left: 32px;
  top: 32px;
  width: 133px;
  height: 28px;
}

.form {
  flex: 1;
}

.form-content {
  width: 100%;
  height: 100%;
  padding: 92px 70px;
}

.form .ant-tabs-nav::before {
  border: none !important;
}

.form .ant-tabs-ink-bar {
  display: none !important;
}

.form .ant-tabs-tab-btn {
  width: 108px;
  height: 26px;
  font-size: 18px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  line-height: 26px;
}

.form .ant-form-item-label label {
  width: 32px;
  height: 24px;
  font-size: 16px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
  line-height: 24px;
}

.form .ant-checkbox-input {
  width: 16px !important;
  height: 16px !important;
}

.form .ant-checkbox-wrapper > span:last-child {
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.45);
  line-height: 22px;
}

.form .ant-btn-primary {
  border-radius: 4px;
}
